@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .dash_over {
        justify-content: space-between;
        display: flex;
        width: 755px;
        overflow-x: auto;
    }
    .table {
        margin-bottom: 10px;
        font-size: 10px;
    }
    .list-group {
        font-size: 11px;
    }
    .card-body {
        font-size: 12px;
    }
    #topnav .navbar-toggle {
        border: 0;
        position: relative;
        padding: 0;
        margin: 0;
        cursor: pointer;
        z-index: 10000;
    }
    .logo-large {
        width: 100px;
        height: 20px;
    }
    .logo-small {
        height: 20px;
    }
}
@media only screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1024px) {
    .dash_over {
        justify-content: space-between;
        display: flex;
        width: 975px;
        overflow-x: auto;
    }
    table.dataTable {
        clear: both;
        margin-top: 6px !important;
        margin-bottom: 6px !important;
        max-width: none !important;
        border-collapse: separate !important;
        font-size: 10px;
    }
    .list-group {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        font-size: 11px;
    }
    .table {
        margin-bottom: 10px;
        font-size: 10px;
    }
    .card-body {
        font-size: 12px;
    }
    #topnav .navbar-toggle {
        border: 0;
        position: relative;
        padding: 0;
        margin: 0;
        cursor: pointer;
        z-index: 10000;
    }
}
